.form-control{
    width: 600px;
}
.text-center {
    margin-top: 30px;
}

.error{
    color: red;
}
.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  
  .example-radio-button {
    margin: 5px;
  }