<body>
  <div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="limiter" id="login">
      <div class="container-login100" style="background-image: url()">
        <div class="container">
          <div class="row">
            <div class="col-md-6 offset-md-3">
              <h2 class="text-center text-dark mt-5">Login Form!</h2>
              <div class="card my-5">
                <form
                  class="card-body cardbody-color p-lg-5"
                  [formGroup]="loginForm"
                  (ngSubmit)="onSubmit()"
                >
                  <div class="text-center">
                    <img
                      src="https://www.nespresso.com/ecom/medias/sys_master/public/12323052978206/header_visual.jpg"
                      class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                      width="200px"
                      alt="profile"
                    />
                  </div>

                  <div class="mb-3">
                    <input
                      type="text"
                      class="form-control"
                      id="username"
                      aria-describedby="emailHelp"
                      formControlName="username"
                      placeholder="User Name"
                      minlength="3"
                    />
                  </div>
                  <div class="mb-3" data-validate="Password is required">
                    <input
                      type="text"
                      formControlName="password"
                      class="form-control"
                      type="password"
                      name="pass"
                      placeholder="Password"
                      minlength="3"
                    />
                    <tr>
                      <ul></ul>
                    </tr>

                    <div *ngIf="!loginForm.valid" class="error">
                      <p>please fill all the forms above</p>
                    </div>

                    <div *ngIf="nukEkziston" class="error">
                      <p>ky user nuk ekziston</p>
                    </div>

                    <div class="text-center">
                      <button
                        type="submit"
                        class="btn btn-color px-5 mb-5 w-100"
                      >
                        Login
                      </button>

                      <div
                        id="emailHelp"
                        class="form-text text-center mb-5 text-dark"
                      >
                        Nese nuk je i rregjistruar apo ke harruar passwordin
                        tend, ju lutemi kontaktoni me Adminin. Ju Faleminderit!
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</body>
<app-footer></app-footer>
