.example-container {
    height: 65%;
}
table {
    width: 800px;
  }

.sidePannel{
    width: 15%;
}

.sidePannelContainer{
    margin: 30px;
}

.sidePannel{
    display: flex;
}

.card{
    width: 420px;
    height: 530px;
}
.artikuj{
    display: flex;
}