
table {
    width: 800px;
  }

.sidePannel{
    width: 15%;
}

.sidePannelContainer{
    margin: 30px;
}

.sidePannel{
    display: flex;
}

.card{
    width: 420px;
}
.artikuj{
    display: flex;
}

.space{
    margin-bottom: 10px;
}
.table2{
    width: 400px;
}
.example-container{
    height: 100%;
}
.row{
    display: flex;
    justify-content: center;
}
.button{
    margin: 20px;
}